/* *::-webkit-scrollbar { */
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* display: none; */
/* } */
/* * { */
    /* Hide scrollbar for IE, Edge and Firefox */
    /* -ms-overflow-style: none;  IE and Edge */
    /* scrollbar-width: none;  Firefox */
/* } */

.bg-image{
    background-image: url(./bg2.1.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.container{
    display: flex;
    /* display: none; */
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.heading{
    padding: 10px;
    font-family: 'Public Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
}
.main-heading{
    margin-top: 10vw;
    font-size: 4.1vw;
}
.subheading{
    color: white;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    padding: 10px;
    font-size: 20px;
}
.caption{
    font-size: 15px;
}
.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.step{
    width:500px;
    /* max-width:500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 10px;
}
.theme-button-1{
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 7.5px;
    margin:10px;
    border-width: 0;
    font-weight: 700;
    background-color: white;
}
.theme-button-1:hover{
    background-color: rgb(228, 228, 228);
}
.theme-button-2{
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 7.5px;
    margin:10px;
    border-width: 0;
    font-weight: 700;
    background-color: white;
}
.theme-button-2:hover{
    background-color: rgb(228, 228, 228);
}
.buttonframe{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.modal-show{
    display: flex !important;
}
.modal{
    display: none;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    /* margin: 0 10vw; */
    z-index: 1; 
    /* overflow: auto; Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.808);
}
.close-button{
    align-self: flex-end;
    border-radius: 50%;
    padding: 5px 10px;
}
.remove-button{
    align-self: flex-end;
    padding: 5px 10px;
}
.modal-container > *{
    margin: 10px;
    font-family: 'Public Sans', sans-serif;
}

.modal-sections{
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-section{
    background-color: rgba(255, 255, 255, 0.123);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.modal-section .subheading{
    font-size: 30px;
}
.modal-subsection{
    background-color: rgba(0, 0, 0, 0.322);
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.field-entry{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.field-entry .label{
    font-family: 'Public Sans', sans-serif;
    color: white;
    padding-right: 2vw;
    padding-top: 5px;
}
.field-entry .input{
    width: 250px;
    outline: none;
    border-width: 0px;
    padding: 10px;
    border-radius: 7.5px;
    font-weight: 600;
}
.date-input{
    width: unset!important;
}
.checkbox-field{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.checkbox-field .input{
    width: 20px!important;
}
.minput{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.minput-field{
    width: 100%;
    border-width: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    border-radius: 7.5px;
    background-color: white;

}
.minput-input{
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 7.5px 0 0 7.5px;
    font-weight: 600;
    border-width: inherit;
}
.minput-button{
    padding: 10px;
    border-width: inherit;
    border-radius: 7.5px;
}
.minput-button:hover{
    background-color: rgb(197, 197, 197);
}.minput-button:active{
    background-color: rgb(224, 224, 224);
}
@media screen and (max-width:700px) {
    .main-heading{
        font-size: 40px;
    }
    .subheading{
        font-size: 15px;
    }
    .caption{
        font-size: 10px;
    }
    .step{
        width:unset;
        max-width:500px;
        padding: 20px;
    }
    .field-entry .input{
        width: 300px;
    }
    
}