@font-face {
    font-family: 'Righteous';
    src: url(../font/Righteous-Regular.ttf);
}
@font-face {
    font-family: 'Oswald';
    src: url(../font/Oswald-VariableFont_wght.ttf);
}
body{
    margin: 0;
    background-image: url(../img/bg1.jpg);
    /* background-repeat: no-repeat; */
    background-size: 100% auto;
    background-position: top;
    overflow: hidden;
}
.frame{
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    position: absolute;
    margin: 15px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: overlay;
    top: 0;
}
@media screen and (width<600px) {
    .frame{    
        width: calc(100vw);
        height: calc(100vh);
        margin: 0px;
    }
}