#main{
    flex-direction: column;
    justify-content: unset;
}
#main>:first-child{
    padding-top: 8vw;
}
#main>:last-child{
    padding-bottom: 8vw;
}
.main-heading{
    text-align: center;
    font-family: 'Righteous';
    color: white;
    font-size: 60px;
    padding: 0 10px;
}
.main-subheading{
    text-align: center;
    font-family: 'Righteous';
    color: white;
    font-size: 30px;
    padding: 10px;
}
/* Step Continer */
.main-steps{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    padding: 10px;
}
/* Step Box */
.main-step{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    width: 500px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(124, 124, 124, 0.349);
}
.main-step-heading{
    text-align: center;
    font-family: 'Righteous';
    color: white;
    font-size: 40px;
    /* background-color: black; */
    /* width: 100%; */
    /* border-radius: 5px 5px 0 0; */
}
.main-step-subheading{
    text-align: center;
    font-family:  'Arial Narrow';
    color: rgb(204, 204, 204);
    font-size: 20px;
    padding: 5px 0;
}
.main-template-button-frame{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.main-footer{
    font-size: 20px;
    color: rgba(124, 101, 255, 0.555);
    text-decoration: dashed;
}
.main-theme-button-1{
    background-color: grey;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.main-theme-button-1:hover{
    color: rgb(66, 66, 66);
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}


@media screen and (max-width:600px) {
    .main-heading{
        font-size: 45px;
    }
    .main-subheading{
        font-size: 20px;
    }
    .main-step{
        height: unset;
    }
    .main-step-heading{
        font-size: 30px;
    }
    .main-step{
        width: 80vw;
    }
}