<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/img/5234318.png">
    <title>Testing Form</title>
    <link rel="stylesheet" href="../assets/css/form.css">
    <script src="../assets/js/const.js"></script>
    <script>function raiseFrame(string){}</script>
    <script src="../assets/js/form.js"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body onload="openForm()">
    <div id="form" class="frame"></div>
</body>
</html>