body{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 245, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    min-width: 400px;
    max-width: 500px;
    height: 80vh;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
}